<div class="row">
    <div class="tiers number">
        <h3 class="lignes center"><span></span>Number<span></span></h3>
        <p class="center"><strong class="counter" data-prop="number">{{number}}</strong></p>
    </div>
    <div class="tiers infos">
        <h3 class="lignes"><span></span>Infos<span></span></h3>
        <p class="center">Born: <strong>{{datebirth}}</strong></p>
        <p class="center">Height: <strong>{{height}}</strong></p>
        <p class="center">Weight : <strong>{{weight}}</strong></p>
        <p class="center">Position: <strong>{{position}}</strong></p>
        <p class="center">Seasons: <strong>{{seasons}}</strong></p>
    </div>
    <div class="tiers">
        
    </div>
</div>
<div class="row infos-stats">
    <h1><span></span>Statistics<span></span></h1>
    <div class="dial">
        <div class="round">
            <input type="text" class="counter" data-prop="rebounds" value="{{rebounds}}" data-min="0" data-max="23924" data-fgColor="#1abc9c" data-bgColor="#254f4e">
        </div>
        <p>Rebounds</p>
        <p><strong>23924</strong> - W.Chamberlain</p>
    </div>
    <div class="dial">
        <div class="round">
            <input type="text" data-prop="fieldGoals" value="{{fieldGoals}}" class="counter" data-min="0" data-max="15837" data-fgColor="#3498db" data-bgColor="#2c465e">
        </div>
        <p>Field Goals</p>
        <p><strong>15837</strong> - K.Abdul-jabbar (20 seasons)</p>
    </div>
    <div class="dial">
        <div class="round">
            <input type="text" data-prop="assists" value="{{assists}}" class="counter" data-min="0" data-max="15806" data-fgColor="#9b59b6" data-bgColor="#463655">
        </div>
        <p>Assists</p>
        <p><strong>15806</strong> - J.Stockton (19 seasons)</p>
    </div>
    <div class="dial">
        <div class="round">
            <input type="text" data-prop="threePoints" value="{{threePoints}}" class="counter" data-min="0" data-max="2612" data-fgColor="#f1c40f" data-bgColor="#5b512b">
        </div>
        <p>3 pointers</p>
        <p><strong>2612</strong> - R.Allen (15 seasons)</p>
    </div>
    <div class="dial">
        <div class="round">
            <input type="text" data-prop="blocks" class="counter" value="{{blocks}}" data-min="0" data-max="3830" data-fgColor="#e67e22" data-bgColor="#523826">
        </div>
        <p>Blocks</p>
        <p><strong>3830</strong> - H.Olajuwon (18 seasons)</p>
    </div>
</div>