<h1 class="center uppercase">All you <strong>need</strong> to know</h1>
<div class="title underline"></div>
<nav class="center navigation">
    <a class="center" href="#/stats/{{sluggedName}}">Statistics</a>
    <a class="center" href="#/awards/{{sluggedName}}">Awards</a>
    <a class="center" href="#/players/{{sluggedName}}">Players</a>
</nav>
<section id="slider">
    <article id="data" class="container">
        <div class="left">
            {{#each years}}
                <div class="year">
                    <div class="points">
                        <p>Points: {{points}}</p>
                    </div>
                    <div class="rebounds">
                        <p>Rebounds : {{rebounds}}</p>
                    </div>
                    <div class="field-goals">
                        <p>Field Goals : {{fieldGoalsPercent}}%</p>
                    </div>
                    <div class="assists">
                        <p>Assists : {{assists}}</p>
                    </div>
                    <div class="three-pointer">
                        <p>3 Pointer : {{threePointsPercent}}%</p>
                    </div>
                    <div class="blocks">
                        <p>blocks : {{blocks}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </article>
    <article id="awards" class="hidden container transition">
        <h1>awards</h1>
        <div class="mvp">
            <p>Most Valuable Player</p>
            <div class="notif">x2</div>
            <div class="bg"></div>
        </div>
        <div class="all-star-mvp">
            <p>All Star MVP</p>
            <div class="bg"></div>
        </div>
        <div class="defensive-player-of-the-year">
            <p>Defensive player of the year</p>
            <div class="bg"></div>
        </div>
        <div class="sixth-man-of-the-year">
            <p>Sixth man of the year</p>
            <div class="bg"></div>
        </div>
        <div class="rookie-of-the-year">
            <p>Rookie of the year</p>
            <div class="bg"></div>
        </div>
        <div class="nba-champion">
            <p>NBA Champion</p>
            <div class="bg"></div>
        </div>
    </article>
    <article id="players" class="hidden container transition">
        <nav class="center navigation changePlayer">
            <a href="#/1" class="active best-ever">{{players.[0].firstname}} {{players.[0].lastname}}</a>
            <a href="#/2" class="best-year">{{players.[1].firstname}} {{players.[1].lastname}}</a>
        </nav>
        <div class="player">
        </div>
    </article>
</section>